.padding-form{
  padding: 10px 7%;

}
table, th, td {
  border: none;
}
th ,td {
  padding: 10px 10px;
}
th {
  border-radius: 5px;
}


table {
  width: 100%;

}
.data-span{
  text-align: right !important;
  font-weight: bolder !important;
  border: 1px solid #9a9a9a !important;
  padding: 2px 4px;
  float: right;
}
.data-span-titulo{
  text-align: right !important;
  font-weight: bolder !important;
  border: 1px #9a9a9a !important;
  padding: 2px 4px;
  float: right;
}

