.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.image-container{
  margin-right: 0px;
  margin-left: auto;
  display: flex;
  height: 50px;
  width: auto;
}
